.text {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
    font-style: italic;
}
.text1 {
    text-decoration: line-through;
}
.text2 {
    text-transform: uppercase;
    text-align: center;
}
.text3 {
    color: #000;
    text-decoration-style: wavy;
    text-decoration-color: #000;
    text-decoration-line: overline;
    text-shadow: 1px 1px 1px violet;
    word-spacing: 30px;
}
.text4 {
    text-decoration: underline;
    text-decoration-style: double;
    text-decoration-thickness: 1px;
    letter-spacing: 5px;
}